---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vaultwarden
resources:
- namespace.yaml
- secret.yaml
- zalando-secret.yaml
- postgres.yaml
- helmrelease.yaml
- volsync
