---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: gitlab
resources:
- namespace.yaml
- zalando-secret.yaml
- zalando-registry-secret.yaml
- secret.yaml
- postgres.yaml
- helmrelease.yaml
- runner-arm64.yaml
- runner-amd64.yaml
- hcloud-secret.yaml
- hcloud-cronjob.yaml
- renovate-secret.yaml
- renovate.yaml
- volsync-gitaly
