[pve]
bake
neko
nise

[controlplane]
%{ for index, hostname in controlplane_names ~}
${ hostname }
%{ endfor ~}

[worker]
%{ for index, hostname in worker_names ~}
${ hostname }
%{ endfor ~}

[k8s:children]
controlplane
worker
