---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: system-upgrade
resources:
- https://raw.githubusercontent.com/rancher/system-upgrade-controller/master/manifests/system-upgrade-controller.yaml
patchesStrategicMerge:
- https://raw.githubusercontent.com/kube-hetzner/terraform-hcloud-kube-hetzner/master/kustomize/system-upgrade-controller.yaml
