---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- zalando-secret.yaml
- synapse-redis-secret.yaml
- postgres.yaml
- helmrelease.yaml
- element-web.yaml
